 body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f4f4f4;
       color: #ffffff;
   
   .header {
       position: fixed;
       width: 100%;
       z-index: 1000;
       background: #0f766e;
       border-bottom: 1px solid #ddd;
   }
   
   .container {
       max-width: 100%;
       height: 20px;
       margin: auto;
       padding: 15px 20px;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   
   .brand {
       font-size: 22px;
       font-weight: 600;
   }
   
   .nav-menu {
       list-style: none;
       display: flex;
       height: 20px;
       gap: 25px;
   }
   
   .nav-menu li a {
       text-decoration: none;
       color: white;
       font-size: 16px;
   }
   .banner {
       width: 100%;
       height: 700px;
       object-fit: cover;
       display: flex;
       gap: 10px;
       background-image: url('/assets/img/WhatsApp\ Image\ 2025-11-25\ at\ 06.39.47.jpeg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
   }
   .down-arrow {
     position: absolute;
     top: calc(100vh - 80px);
     left: calc(50% - 14px);
     width: 0;
     height: 30px;
     border: 2px solid;
     border-radius: 2px;
     animation: jumpInfinite 1.5s infinite;
   }
   
   .down-arrow:after {
     content: " ";
     position: absolute;
     top: 12px;
     left: -10px;
     width: 16px;
     height: 16px;
     border-bottom: 4px solid;
     border-right: 4px solid;
     border-radius: 4px;
     transform: rotateZ(45deg);
   }
   
   @keyframes jumpInfinite {
     0% {
       margin-top: 0;
     }
     50% {
       margin-top: 20px;
     }
     100% {
       margin-top: 0;
     }
   }

.about {
  background: #f4f6f8;
  padding: 80px 0;
}

.about-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-left {
  flex: 1;
}

.about-title {
  font-size: 34px;
  font-weight: 700;
  color: #0f766e;
  margin-bottom: 20px;
}

.about-desc {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn-about {
  display: inline-block;
  padding: 12px 24px;
  background: #0f766e;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-about:hover {
  background: #115e59;
  transform: translateY(-3px);
}

/* GAMBAR KANAN */
.about-right {
  flex: 1;
}

.about-img {
  width: 100%;
  height: 330px;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.about-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.about-img:hover img {
  transform: scale(1.06);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-right {
    width: 100%;
  }
}
 }