 body {
       font-family: Arial, sans-serif;
       margin: 0;
       padding: 0;
       background-color: #f4f4f4;
       color: #ffffff;
   
   .header {
       position: fixed;
       width: 100%;
       z-index: 1000;
       background: #0f766e;
       border-bottom: 1px solid #ddd;
   }
   
   .container {
       max-width: 100%;
       height: 20px;
       margin: auto;
       padding: 15px 20px;
       display: flex;
       align-items: center;
       justify-content: space-between;
   }
   
   .brand {
       font-size: 22px;
       font-weight: 600;
   }
   
   .nav-menu {
       list-style: none;
       display: flex;
       height: 20px;
       gap: 25px;
   }
   
   .nav-menu li a {
       text-decoration: none;
       color: white;
       font-size: 16px;
   }
   .banner {
       width: 100%;
       height: 700px;
       object-fit: cover;
       display: flex;
       gap: 10px;
       background-image: url('/assets/img/WhatsApp\ Image\ 2025-11-25\ at\ 06.39.47.jpeg');
       background-size: cover;
       background-position: center;
       background-repeat: no-repeat;
   }

.paket-grid-section {
  padding: 15px 0;
  background: #ffffff;
}

.paket-grid {
  width: 90%;
  max-width: 1200px;
  margin: auto;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
}

@media(max-width: 768px) {
  .paket-grid {
    grid-template-columns: 1fr;
  }
}

/* Card yang sama */
.paket-card-format {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  background: #fff;
}

.paket-img {
  width: 100%;
  height: 230px;
  border: 2px solid #ccc;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
}

.paket-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.paket-title {
  text-align: center;
  font-size: 34px;
  font-weight: 700;
  color: #0f766e;
  margin-bottom: 35px;
}

.paket-title-center {
  color: #444;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  margin-bottom: 20px;
}

.paket-table {
  width: 100%;
}

.paket-row {
  display: grid;
  grid-template-columns: 1fr auto auto;
  gap: 20px;
  margin-bottom: 10px;
}

.paket-row span {
  font-size: 14px;
  color: #444;
}

.harga {
  white-space: nowrap;
  color: #444;
}

.kapasitas {
  text-align: right;
  white-space: nowrap;
  color: #444;
}

.fasilitas {
  padding: 20px 0;
  background: #f4f6f8;
}

.fasilitas-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.fasilitas-title {
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  color: #0f766e;
  margin-bottom: 45px;
}

.fasilitas-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 28px;
}

.fasilitas-item {
  background: #ffffff;
  padding: 25px 15px;
  border-radius: 18px;
  box-shadow: 0 8px 25px rgba(0,0,0,0.08);
  text-align: center;
  transition: 0.3s ease;
  border: 1px solid #e2e8f0;
}

.fasilitas-item:hover {
  transform: translateY(-6px);
  box-shadow: 0 12px 30px rgba(0,0,0,0.12);
  border-color: #0f766e;
}

.icon {
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #e6f7f5;
  border-radius: 50%;
  margin: 0 auto 12px auto;
  color: #0f766e;
  transition: 0.3s ease;
}

.fasilitas-item:hover .icon {
  background: #0f766e;
  color: #fff;
}

.fasilitas-item p {
  font-size: 15px;
  font-weight: 600;
  color: #333;
  margin: 0;
}


.about {
  background: #f4f6f8;
  padding: 80px 0;
}

.about-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 40px;
}

.about-left {
  flex: 1;
}

.about-title {
  font-size: 34px;
  font-weight: 700;
  color: #0f766e;
  margin-bottom: 20px;
}

.about-desc {
  font-size: 16px;
  color: #444;
  line-height: 1.5;
  margin-bottom: 20px;
}

.btn-about {
  display: inline-block;
  padding: 12px 24px;
  background: #0f766e;
  color: #fff;
  border-radius: 10px;
  font-size: 15px;
  text-decoration: none;
  transition: 0.3s;
}

.btn-about:hover {
  background: #115e59;
  transform: translateY(-3px);
}

/* GAMBAR KANAN */
.about-right {
  flex: 1;
}

.about-img {
  width: 100%;
  height: 330px;
  overflow: hidden;
  border-radius: 18px;
  box-shadow: 0 18px 40px rgba(0, 0, 0, 0.15);
}

.about-img iframe {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: 0.4s ease;
}

.about-img:hover iframe {
  transform: scale(1.06);
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .about-container {
    flex-direction: column;
    text-align: center;
  }

  .about-right {
    width: 100%;
  }
}

.footer {
  background: #0f766e;
  color: #fff;
  padding-top: 60px;
}

.footer-container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.footer-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  margin-bottom: 40px;
}

.footer-title {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

.footer-info p {
  font-size: 15px;
  line-height: 1.6;
  margin-bottom: 14px;
}

.footer-info a {
  color: #fff;
  text-decoration: underline;
}

.footer-maps iframe {
  width: 100%;
  height: 300px;
  border-radius: 12px;
  border: none;
}

/* FOOTER BAWAH */
.footer-bottom {
  text-align: center;
  background: #115e59;
  padding: 18px 0;
  margin-top: 30px;
}

.footer-bottom p {
  margin: 0;
  font-size: 14px;
}

/* RESPONSIVE */
@media(max-width: 850px) {
  .footer-grid {
    grid-template-columns: 1fr;
  }

  .footer-maps iframe {
    height: 250px;
  }
}


 }